;;;
	"title": "Styles"
;;;


%section
	.container
		.row
			.col
				%h1.market
					= lorem.sentences(1)
				%h2.market
					= lorem.sentences(1)
				%h3.market
					= lorem.sentences(1)
				%h4.market
					= lorem.sentences(1)				
				%h1
					= lorem.sentences(1)
				%h2
					= lorem.sentences(1)
				%h3
					= lorem.sentences(1)
				%h4
					= lorem.sentences(1)
				%h5
					= lorem.sentences(1)
				%h6
					= lorem.sentences(1)
				%p.body-large
					= lorem.sentences 5
				%p
					= lorem.sentences 5
				%p.body-small
					= lorem.sentences 5
				%p.regular-font
					Regular font
				%p.medium-font
					Semibold font
				%p.bold-font
					Bold font
				%p.extra-bold-font
					Extra Bold font
				%p
					%a{:href=>"#"}
						Linked
				%p
					%a.btn.btn-primary{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Primary
					%a.btn.btn-secondary{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Secondary
					%div{:style=>"background:black; padding:20px; display:inline-flex;"}
						%a.btn.btn-outline-light{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
							White wire
					%a.btn.btn-flat{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						Flat
					%a.btn.btn-link{:href=>"http://images6.alphacoders.com/316/316963.jpg"}
						I'm a button that acts more like a link
				%a.btn.btn-flat{:href=>"#"}
					%i.material-icons
						delete
						
